<div class="ui large secondary inverted pointing menu segment" style="color: black;">
      <a class="toc item">
        <i class="sidebar icon" style="color:grey; margin-bottom: 18px;"></i>
      </a>
      <a ng-href="#!/dashboard" class="toc in">
        <img src="./assets/images/logo.png" width="186px" height="70px">
      </a>
      <div class="right menu">
        <div class="item">
          <div class="ui buttons">
            <a ng-href="#!/account" class="ui positive button">Account</a>
            <div class="or"></div>
            <a ng-href="#!/" class="ui primary button">Sign Out</a>
          </div>
        </div>
      </div>
    </div>